* {
    box-sizing: border-box;
}

body {
    background: url(../images/background_img.jpg)no-repeat center center fixed;
    background-size: cover;
    
}

header {
    text-align: center;
    background-color: white;
}

.my-picture {
    height: 200px;
    border-radius: 100%;
    border: 1px black solid;
}

section {
    background-color: white;
}

footer {
    background-color: white;
}