* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(/images/background_img.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header {
    width: 100%;
    text-align: center;
    color: white;
    background-color: #303030;
    text-shadow: 2px 2px black;
    border-bottom: 3px solid black;
    padding: 10px;
}

.myPictureContainer {
    display: inline-block;
    margin: 5px;
}

.myPicture {
    height: 100px;
    border-radius: 50%;
    border: black solid 2px;
}

.header-info {
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
}

.nav {
    margin-top: 20px;
}

.nav ul li {
    display: inline-block;
}

li a:link, li a:visited {
    color: white;
    text-decoration: none;
}

li a:hover {
    color: rgb(99, 99, 209);
    cursor: pointer;
}

.nav li .current-page {
    text-decoration: underline;
}

.scene {
    height: 780px;
    width: 100%;
    border: 2px solid black;
    float: left;
}

#bioHTML {
    background-color: white;
    padding: 50px;
    border: 5px solid black;
}

#projectsHTML {
    background-color: white;
    border: 5px solid black;
}

#resumeHTML {
    background-color: white;
    border: 5px solid black;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #303030;
    color: white;
    padding: 0 0 0 1%;
    border-top: 2px solid black;
}

.resume {
    margin: 0 auto;
    display: inline-block;
    border-radius: 5px;
}

.project-card {
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    width: 20%;
    padding: 10px;
    margin: 10px 10px;
    vertical-align: top;
    list-style-position: inside;
    background-color: rgb(99, 99, 209);
}

.project-card li {
    text-align: left;
}

.content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #303030;
    color: white;
    padding: 0 0 0 1%;
    border-top: 2px solid black;
}
