* {
    box-sizing: border-box;
}

body {
    background: url(../images/background_img.jpg)no-repeat center center fixed;
    background-size: cover;
    
}

h1 {
    height: 30px;
    color: aliceblue;
    background-color:;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-right: 300px;
}

h3 {
    margin: 2px 0px;
    padding-top: 0px;
    background-color: black;
    color: aliceblue;
}

.section {
    /* Gives each section a rounded border */
    border: 5px solid black;
    border-radius: 5px;
}

.container {
    //background-color: green;
    display: grid;
    margin: auto;
    width: 800px;
    height: 850px;
    grid-template-areas: "head head"
                         "about progress"
                         "about contact"
                         "foot foot";
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 60% 1fr;
    grid-row-gap: 10px;
    grid-gap: 10px;
}

.head {
    background-color: blueviolet;
    grid-area: head;
    width: 100%;
    margin:auto;
    font-family: "Copse", serif;
    
}

.picturePos {
    float: left;
    padding-left: 6px;
}

#myPicture {
    border: 3px solid black;
    border-radius: 100%;
}

.headList {
    margin-left: 180px;
    color: orange;
}

.about {
    background-color: aliceblue;
    grid-area: about;
    font-size: 16px;
    font-family: Gil Sans, monospace;
    text-align: center;
    overflow: scroll;
    padding: 1px 5%;
    margin: 10px auto;
    line-height: 1.9;
}

.about a{
    font-size: 14pt;
    font-weight: 700;
    color: gray;
    text-decoration: none;
}

.progress {
    background-color: orange;
    grid-area: progress;
    grid-row: 2/3;
    overflow: scroll;
    background-color: aliceblue;
}

.learnSource {
    height: auto;
    width: 250px;
    background-color: bisque;
    padding-bottom: 1px;
    padding-left: 20px;
    font-family: monospace;
    display: inline-block;
    margin: 10px;
}

.contact {
    background-color: aliceblue;
    grid-area: contact;
    grid-row: 3 / 4;
    text-align: center;
    line-height: 0.8;
}

.contact p {
    color: black;
    font-size: 20px;
    font-weight: 700px;
    text-decoration: underline;
    height: 10px;
    line-height: 0.1px;
}

.contact input {
    width: 240px;
    margin-bottom: 10px;
}

.contact textarea {
    resize: none;
    height: 80px;
    width: 240px;
}

.foot {
    background-color: gray;
    grid-area: foot;
    height: 70px;
}

.copyright {
    float: left;
}

.updated {
    float: right;
    text-align: right;
    padding-right: 10px;
}