@font-face {
    font-family: pixel;
    src: url(fonts/pixel.ttf);
}

.jumbotron {
    background: url('img/board.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: pixel;
    color: white;
    border-radius: 0;
}

.title {
    background-color: rgba(68, 68, 68, 0.829);
    padding: 5%;
}

.bioToggle {
    height: 25vh; 
    overflow: scroll;
    background-color: rgba(255, 255, 255, 0.233); 
    color: rgb(255, 255, 255);
    padding: 10px;
}

.foot-nav {
    color: white;
}