@font-face {
    font-family: pixel;
    src: url(fonts/VCR_OSD_MONO_1.001.ttf);
}

@font-face {
    font-family: glueGun;
    src: url(fonts/Glue\ Gun.otf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    color: #ababae;
    font-family: pixel;
    letter-spacing: -1px;
}

header {
    text-align: center;
    background-color: rgb(48, 48, 48);
    color: orangered;
    font-family: glueGun;
    font-size: 2em;
    border-bottom: 15px solid orangered;
    height: 625px;
}

#title {
    text-shadow: 2px 2px #000;
    letter-spacing: 2px;
    padding-top: 40px;
}

#title h2 {
    font-size: 1em;
}

#photo {
    margin: 15px;
}

#photo img {
    border-radius: 50%;
    border: 5px solid orangered;
    padding: 5px;
    box-shadow: 40px 4px #000;
}

.fa-angle-double-down {
    text-shadow: 4px 4px #000, 4px -2px #000;
}

.content {
    font-size: 1.2em;
    text-align: center;
}

.content h3 {
    color: orangered;
    text-shadow: 2px 1px #000;
    font-family: glueGun;
    letter-spacing: 3px;
}

#skills .icons > * {
    display: inline-block;
    width: 45%;
}

.card {
    border: 2px solid lightgrey;
    background-color: #fff;
    color: #000;
    padding: 20px 5px;
    margin: 5px;
    border-radius: 8px;    
}

.card hr {
    padding-bottom: 5px;
    background-color: rgb(54, 54, 54);
    margin: 5px 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: orangered;
    color: #000;
    padding: 2px 1% 2px 0;
    text-align: right;
    border-top: 2px solid black;
}

@media (min-width: 768px) {
    #skills .icons > * {
        width: 20%;
    }
}

@media (min-width: 992px) {
    header {
        font-size: 4em;
        height: auto;
    }

    #title {
        display: inline-block;
    }

    #photo {
        display: inline-block;
    }

    .fa-angle-double-down {
        opacity: 0;
        height: 1px;
        width: 1px;
    }

    .content {
        padding-top: 10px;
    }

    .card {
        width: 30%;
    }
    
    #aboutMe {
        display: inline-block;
    }

    #skills {
        display: inline-block;
        vertical-align: top;
    }

    #skills .icons > * {
        width: 25%;
    }

    #projects {
        display: inline-block;
        vertical-align: top;
    }

}
