@font-face {
    font-family: pixel;
    src: url(fonts/pixel.ttf);
}

body {
    background-color: black;
}

.jumbotron {
    background: url('img/board.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: pixel;
    border-radius: 0;
}

.jumbo-dat {
    background-color: rgba(255, 255, 255, 0.616);
        color: black;

}

.card-gfx {
    background: url('img/thatspark.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: pixel;
    border-radius: 0;
    color: white;
}

.card-gfx a {
    color: white;
    text-decoration: none;
}

.card-tec {
    background: url('img/code.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: pixel;
    border-radius: 0;
    color: white;
}

.card-gfx li,
.card-tec li {
    background-color: rgba(255, 255, 255, 0.233); 
}

.bioToggle {
    height: 55vh; 
    overflow: scroll;
    padding: 10px;
}

.list-group li:hover {
    background-color: rgba(175, 175, 175, 0.788);
}